/* Basic styles */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #07162B;
  text-align: center;
  letter-spacing: 1px;
}

svg {
  display: block;
}


/* Team section */

.team-header {
  position: relative;
  margin-top: 50px;
  font-size: 40px;
  font-variant: small-caps;
  color: rgba(255, 255, 255, 0.8);

  &:before, &:after {
    position: absolute;
    content: '';
    left: 50%;
    width: 200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(-50%);
  }

  &:before {
    top: -10px;
  }

  &:after {
    bottom: -10px;
  }
}

.team-member {
  display: inline-block;
  margin: 25px 20px 25px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: rgba(#CA2964, 0.8);

    .clip {
      // This will trigger the pieces animation
      transform: translate(0, 0) !important;
    }
  }
}

.team-member-name {
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);

  &:before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -10px;
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(-50%);
  }
}

.team-member-position {
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.5);
  font-variant: small-caps;
}


/* Basic styles for pieces */

.clip-container {
  position: relative;
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.clip {
  position: absolute;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}


/* Pieces transform */

$pentagon-transform: (
        translate(30px, 60px) scaleY(-1),
        translate(141px, 23px) rotate(143.5deg),
        translate(-70px, -79px) rotate(-35.5deg),
        translate(-144px, 59px) scaleX(-1),
        translate(35px, -43.2px),
        translate(0px, 126px) rotate(-36.5deg),
);

$hexagon-transform: (
        translate(26px, -114px) rotate(-129.5deg),
        translate(-134px, -18px) rotate(-129deg),
        translate(-26px, -70px) rotate(51deg),
        translate(112px, 5.5px) rotate(50.5deg),
        translate(-109px, -2px) rotate(50.5deg),
        translate(138px, 20.5px) rotate(-129deg),
        translate(-24px, 116.5px) rotate(-129.5deg),
        translate(28px, 74px) rotate(51deg),
);

$octagon-transform: (
        translate(-135px, 0px) rotate(110.5deg),
        translate(0px, 135px) rotate(110.5deg),
        translate(135px, 0px) rotate(110.5deg),
        translate(0px, -135px) rotate(110.5deg),
        translate(0px, 0px) rotate(41deg),
);

$figures: (
                ('pentagon', $pentagon-transform, '../img/face-1.jpg'),
                ('hexagon', $hexagon-transform, '../img/face-2.jpg'),
                ('octagon', $octagon-transform, '../img/face-3.jpg'),
);

@each $figure in $figures {
  $name: nth($figure, 1);
  $transform: nth($figure, 2);
  $image: nth($figure, 3);

  .clip-#{$name} .clip {
    background-image: url('#{$image}');

    @for $i from 1 through length($transform) {
      &:nth-child(#{$i}) {
        clip-path: url('../##{$name}-#{$i}');
        transform: nth($transform, $i);
      }
    }
  }
}


/* Fallback for Internet Explorer and Edge */

.ie-edge {

  .clip {
    // Hiding all pieces
    display: none;

    // Show the first piece without transforms
    &:first-child {
      display: block;
      transform: translate(0, 0) !important;
    }
  }
}
